<!DOCTYPE html>
<html>
<head>
	<meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
	<link rel="stylesheet">
	<title>Webカメラの映像を画像化</title>
</head>

  <body>
    <h2>カメラ</h2>
    <div class="takepic">
    	<video id="camera" autoplay></video>
    	<button id="start", class="btn btn-default">撮影する</button>
    	<h2>写真(canvas)</h2>
    	<canvas id="canvas"></canvas>
      
  	  <!--<canvas id="canvas"></canvas>-->
	  </div>
    <%= form_for(@picture, url: user_index_pictures_path(@user, @index), remote: true) do |f| %>
      <% if @picture.errors.any? %>
        <div id="error_explanation">
          <h2><%= pluralize(@picture.errors.count, "error") %> prohibited this picture from being saved:</h2>
    
          <ul>
          <% @picture.errors.full_messages.each do |message| %>
            <li><%= message %></li>
          <% end %>
          </ul>
        </div>
      <% end %>
    
      <div class="field">
        <%= f.hidden_field :pic, :value => "" %>
      </div>
      <!--<div class="field">-->
      <!--  <%= f.hidden_field :id, id:"pictureid" %>-->
      <!--</div>-->
      <div class="field">
        <%= f.hidden_field :index_id, :value => @index, id: "indexid" %>
      </div>
      <!--<div class="actions">-->
      <!--  <%= f.submit '送信' %>-->
      <!--</div>-->
    <% end %>
    <button id="save-button", class="btn btn-default">保存</button>
  </body>

</html>
