<div class="container">
  
  <!--<p><%= notice %></p>-->
  
  <h1>画像撮影一覧</h1>
  <!--<button class='btn btn-default'><%= link_to '名前の追加', new_index_path %></button>-->
  
  <table>
    <thead>
      <tr>
        <th class="t-1">番号</th>
        <th class="t-2">名前・項目</th>
        <th class="t-1">総数</th>
        <th class="t-3">撮影</th>
        <th class="t-4">画像</th>
        <th class="t-1">dd</th>
        <th colspan="5"></th>
      </tr>
    </thead>
  
    <tbody>
      <% @indices.each do |index| %>
        <tr id="d&d">
          <td class="t-1"><%= index.id %></td>
          <td class="t-2"><%= index.name.to_s %></td>
          
          <td class="t-1">
            <% if index.pictures_count %>
              <%= index.pictures_count %>
            <% else %>
              <span>0</span>
            <% end %>
          </td>
          <!--今turbolink停止中-->
          <td class="t-3"><%= link_to '撮影', new_index_picture_path(index),data: {"turbolinks" => false} %></td>
          <td class="t-4">
            <% index.pictures.each do |ip| %>
              <div draggable="true" class:"images" id="<%=index.id%>-<%= ip.id %>">
              <%= image_tag ip.pic.to_s, class:"image", draggable:"true" %>
              </div>
            <% end %>
          <td class="t-1">
            <div id="dropbox<%= index.id %>">
            </div>  
          </td>
          </td>
          <td><%= link_to 'download', download_index_path(index.id), download:"",  class:"btn btn-default" %></td>
          <td><%= link_to 'Edit', edit_index_path(index), class:"btn btn-default" %></td>
          <td><%= link_to 'Destroy', index, method: :delete, data: { confirm: 'Are you sure?' }, class:"btn btn-default" %></td>
        </tr>
      <% end %>
    </tbody>
  </table>
  
  <br>
  
  <%= link_to '名前の追加', new_index_path, class:"btn btn-default" %>

</div>