<!--<body onload="init()">-->
<%= notice %>

<%= link_to '=>ノーマルバージョン', user_indices_path(@user), class: 'btn btn-default' %>
  <h1>画像撮影一覧</h1>

<%= select_tag 'parkname', options_for_select(@arrayPN), id: 'selectPN', :include_blank => false, class: 'btn btn-default' %>
<%= select_tag 'playground', options_for_select(@arrayPG), id:"selectPG", :include_blank => true, class: 'btn btn-default' %>

<div id="fromSelector", style="display: none">
  セレクターを選択してください
   <table class="table">
      <tr class="thread">
       
        <th class="col-xs-4 col-sm-4 col-md-4 col-lg-4" scope="col">説明文</th>
        <th class="col-xs-1 col-sm-1 col-md-1 col-lg-1" scope="col">撮影</th>
        <th class="col-xs-5 col-sm-5 col-md-5 col-lg-5" scope="col">画像</th>
        <th class="col-xs-1 col-sm-1 col-md-1 col-lg-1" scope="col">判定</th>
        <th class="col-xs-1 col-sm-1 col-md-1 col-lg-1" scope="col">備考</th>
      </tr>
      <tbody>
      
      <% @indices_csv.each_with_index do |index, id| %>
        <% if index.playground == @playground && index.parkname == @parkname %>
          <tr>
            <td data-label="説明文"><%= index.explanation.to_s %></td>
            <td data-label="撮影">
              <%= link_to '撮影', new_user_index_picture_path(@user, index.id, params: { playground: @playground, parkname: @parkname }), data: {"turbolinks" => false} %>
            </td>
            <td data-label="画像" class="dropboxed" id="dp<%=index.id%>">
              <details>
                <summary>個別サムネイル（解析度は落ちています。）</summary>
                <% index.pictures.reverse_order.each_with_index do |ip, inx| %>
                  <%= image_tag ip.pic.to_s, class:"dragedanddroped", title: inx.to_s, draggable:"true" %>
                <% end %>
              </details>
            </td>
          
            <td data-label="判定">
              <!--<%# form_for @indices_csv %>-->
              <%= select_tag 'judge', options_for_select(["A","B","C","D"]), :prompt => index.judge.to_s , class: 'btn btn-default' %></td>
            <td data-label="備考"><%= index.remark.to_s %></td>
          </tr>
        <% end %>
      <% end %>
      </tbody>
  </table>
</div>

<div id="fromPic"> 
  <table class="table">
      <tr class="thread">
       
        <th class="col-xs-4 col-sm-4 col-md-4 col-lg-4" scope="col">説明文</th>
        <th class="col-xs-1 col-sm-1 col-md-1 col-lg-1" scope="col">撮影</th>
        <th class="col-xs-4 col-sm-4 col-md-4 col-lg-4" scope="col">画像</th>
        <th class="col-xs-1 col-sm-1 col-md-1 col-lg-1" scope="col">判定</th>
        <th class="col-xs-1 col-sm-1 col-md-1 col-lg-1" scope="col">備考</th>
        <th class="col-xs-1 col-sm-1 col-md-1 col-lg-1" scope="col">枚数</th>
      </tr>
      <tbody>
      
      <% @indices_csv.each_with_index do |index, id| %>
        <% if index.playground == @playgroundFromPic && index.parkname == @parknameFromPic %>
          <tr>
            <td data-label="説明文"><%= index.explanation.to_s %></td>
            <td data-label="撮影">
              <%= link_to '撮影', new_user_index_picture_path(@user, index.id, params: { id: id, playground: @playgroundFromPic, parkname: @parknameFromPic }), data: {"turbolinks" => false} %>
            </td>
            <td data-label="画像" class="dropboxed" id="dp<%=index.id%>">
              <details>
                <summary>個別サムネイル（解析度は落ちています。）</summary>
                <% index.pictures.reverse_order.each_with_index do |ip, inx| %>
                  <%= image_tag ip.pic.to_s, class:"dragedanddroped", title: inx.to_s, draggable:"true" %>
                <% end %>
              </details>
            </td>
            <td data-label="判定"><%= select_tag 'judge', options_for_select(["A","B","C","D"]), :prompt => index.judge.to_s , class: 'btn btn-default' %></td>
            <td data-label="備考"><%= index.remark.to_s %></td>
            <td data-label="枚数">
              <% if index.pictures.count != 0 %>
                <%= index.pictures.count %>
              <% else %>
                <%= "0" %>
              <% end %>
            </td>
          </tr>
        <% end %>
      <% end %>
      </tbody>
  </table>
  
</div>

<%= form_tag import_user_indices_path(@user), multipart: true do %>
  <%= file_field_tag :file %>
  <%= submit_tag "csvファイルインポート", class: "btn btn-default"%>
<% end %>


